<!DOCTYPE html>
<html>
  <head>
    <title>New Student</title>
  </head>
  <body>
    <h1>New Student</h1>
    <form action='/student' method="POST">
      Student Name: <input type="text" name="student[name]">
      Student Grade: <input type="text" name="student[name]">
    </form>
  </body>

</html>
