<!DOCTYPE html>
<html>
  <head>
    <title>New Student</title>
  </head>
  <body>
    <h1>New Student</h1>
    <form action='/student' method="POST">
      Student Name: <input type="text" name="student[name]"><br>
      <br>
      Student Grade: <input type="text" name="student[grade]"><br>
      <br>
      Course Name: <input type="text" name="student[courses][][name]"><br>
      <br>
      Course Topic: <input type="text" name="student[courses][][topic]"><br>
      <br>
      Course Name: <input type="text" name="student[courses][][name]"><br>
      <br>
      Course Topic: <input type="text" name="student[courses][][topic]"><br>
      <br>
      <input type="submit">
    </form>
  </body>

</html>
